#upH, footer{
	background-color: #990000;
}

#upH a, footer a{
	color: #FF99FF;
	text-decoration:none;
}

#midH{
	background-color: red;
	font-size: 60px;
	font-weight: bold;
	color: white;
}

#downH{
	background-color: #FFCCFF;
	height = 20px;
}

#downH a{
	color: #990000;
	text-decoration: none;
}

#topic{
	background-color: red;
	font-size: 30px;
	color: white;
}

#contents{
	border: 2px solid red;
}

#contents span{
	font-style: italic;
	color: #808080;
}

#end{
	background-color: red;
	height: 25px;
}

#b a, #contents a{
	color: #990000;
}

footer i{
	color: white;
}
